.modal .modal-body {
    max-height: 440px;
    overflow-y: auto;
}
/*.modal-header{
	background:#757575;
}
.modal-footer{
background:#838383;
   
}
.modal-content{
background:#757575;	
}
.modal-body{
	background:#929292;
}*/
