.container-fluid{
  /*width:100%;*/
  margin:0px;
  padding:0px;
}
#body{
  position:absolute;
  top:0px;
  width:100%;
}
body{
  overflow:hidden;
}

#top{
  height:0px;
}
div{
  border:0px solid black;
}
/*img{
  width: 90%;
}*/
.col-lg-12,.col-lg-11,.col-lg-10,.col-lg-9,.col-lg-8,.col-lg-7,.col-lg-6,.col-lg-5,.col-lg-4,.col-lg-3,.col-lg-2,.col-lg-1{
  transition:all 1s ease-in;
}
.col-sm-12,.col-sm-11,.col-sm-10,.col-sm-9,.col-sm-8,.col-sm-7,.col-sm-6,.col-sm-5,.col-sm-4,.col-sm-3,.col-sm-2,.col-sm-1{
  transition:all 1s ease-in;
}
.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2,.col-md-1{
  transition:all 1s ease-in;
}
.col-xs-12,.col-xs-11,.col-xs-10,.col-xs-9,.col-xs-8,.col-xs-7,.col-xs-6,.col-xs-5,.col-xs-4,.col-xs-3,.col-xs-2,.col-xs-1{
  transition:all 1s ease-in;
}

#fake1,#fake2,#fake3{
  border:0px solid red;
  height:30px;
}
#network1,#network2,#network3,#network4,#network5,#network6,#network7{
  border:0px solid red;
  display:none;
}
#network1-img,#network2-img,#network3-img,#network4-img,#network5-img,#network6-img,#network7-img{
  float:right;
}
.network{
  width:100%;
  height:50px;
  transition:all 1s ease-in;
}

#knosys-img{
  background-color:;
  float:right;
  border-radius:5px;
}


#main-node>div>img,#first>div>img,#first-node>div>img,#workshop-sub>div>img,#coding-sub>div>img,#event-sub>div>img,#gaming-sub>div>img,#brain-sub>div>img,#online-sub>div>img{
  float:right;
  background-color
  border-top:2px solid black;
  border-radius:5px;
  cursor:pointer;
  margin:0px 3px;
  transition:all 1s ease-in;
}
#first-node div img,#workshop-sub div img,#coding-sub div img,#event-sub div img,#gaming-sub div img,#brain-sub div img,#online-sub div img{
  background:url('svg/k1.svg') no-repeat;
  background-size:contain;
}


#event-sub>div,#first-node,#workshop-sub>div,#coding-sub>div,#gaming-sub>div,#brain-sub>div,#online-sub>div{
  margin:0px 2px;
}
#event-sub,#first-node,#workshop-sub,#coding-sub,#gaming-sub,#brain-sub,#online-sub{
  display:none;
}

.col-lg-3,.col-md-3,.col-sm-3{
  width:24%;
}

.col-lg-4,.col-md-4,.col-sm-4,.col-xs-4{
  width:30.5%;
}


#heading{
  margin-top:0px;
  height: ;
  background:;
  border:0px solid black;
}

/*#login-body{
    display:block;
    z-index:10;
    position:absolute;
    right:220px;
    top:70px;
    margin-top:-10px;
    float:right;
  }
  #login-body>button{
    background-color:;
    display:inline;
    color:white;
    width:auto;
    margin:5px;
    border:1px solid black;
  }
  #login{
    margin-right:10px;
  }*/
/*  .signup{
    width:300px;
  }*/



  #headerimg{
    width:100%;
    margin-top:0px;
  }